{% if site.google_cse.enable %}
<div  id="main" class="page">
  <div id='cse' style='width:100%;text-align:center'>{{ lang.search-load }}</div>
</div>
<script src="https://www.google.com.hk/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'en',style: google.loader.themes.MINIMALIST});
google.setOnLoadCallback(function(){
  var customSearchControl = new google.search.CustomSearchControl('{{ site.google_cse.cx }}');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  
  var options = new google.search.DrawOptions();
  options.setAutoComplete(true);
  customSearchControl.draw('cse', options);
  
  var match = location.search.match(/q=([^&]*)(&|$)/);
  if(match && match[1]){
    var search = decodeURIComponent(match[1]); 
    customSearchControl.execute(search);
  }
  
},true);
</script>



<!--<div id="main" class="page">
  <script>
  (function() {
    var match = location.search.match(/q=([^&]*)(&|$)/);
    var search = "";
    if(match && match[1]){
      search = decodeURIComponent(match[1]); 
    }

    var cx = '013599163932417097999:da8tmm_kgzo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    gcse.execute(search);
  })();
  </script>


  <gcse:search gname="cse">{{ lang.search-load }}</gcse:search>  
</div>-->
{% endif %}