{% if site.google_cse.enable %}
<div  id="main" class="page">
  <div id='cse' style='width:100%;text-align:center'>{{ lang.search-load }}</div>
</div>
<script src="https://www.google.com.hk/jsapi" type="text/javascript"></script>
<script>
  (function() {
    var cx = '013599163932417097999:da8tmm_kgzo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% endif %}