{% if site.google_cse.enable %}
<!--<div  id="main" class="page">
  <div id='cse' style='width:100%;text-align:center'>{{ lang.search-load }}</div>
</div>
<script src="https://www.google.com.hk/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'en',style: google.loader.themes.MINIMALIST});
google.setOnLoadCallback(function(){
  var customSearchControl = new google.search.CustomSearchControl('{{ site.google_cse.cx }}');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  console.log("1");
  var options = new google.search.DrawOptions();
  options.setAutoComplete(true);
  customSearchControl.draw('cse', options);
  console.log("2");
  var match = location.search.match(/q=([^&]*)(&|$)/);
  if(match && match[1]){
    var search = decodeURIComponent(match[1]); 
    customSearchControl.execute(search);
  }
  console.log("3");
},true);
</script>-->

<div  id="main" class="page">
    <script>
    (function() {
      var cx = '013599163932417097999:da8tmm_kgzo';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>

  <gcse:search gname = "cse">{{ lang.search-load }}</gcse:search>  

  <script>
    var cse = google.search.cse.element.getElement("cse");
    var match = location.search.match(/q=([^&]*)(&|$)/);
    if(match && match[1]){
      var search = decodeURIComponent(match[1]); 
      cse.execute(search);
    }
  </script>
</div>
{% endif %}